@model List<Kartverket_group2.Models.Shape>

@{
    ViewData["Title"] = "View Shapes";
}

<h2>Alle figurer</h2>

@if (Model != null && Model.Count > 0)
{
    <ul>
        @foreach (var shape in Model)
        {
            <li>
                <strong>ID:</strong> @shape.Id <br />
                <strong>Type:</strong> @shape.Type <br />
                <strong>Koordinater:</strong> @shape.Coordinates <br />
                <strong>Beskrivelse:</strong> @shape.Comment <br />
                <strong>Lagt til:</strong> @shape.addedAt <br />
                <strong>Sist endret:</strong> @shape.lastEdited <br />
            </li>
        }
    </ul>
}
else
{
    <p>No shape data available.</p>
}
