@model Kartverket_group2.Models.GeoJsonFeatureCollection

<h2>Shapes</h2>

@if (Model.Features.Any())
{
    <ul>
        @foreach (var feature in Model.Features)
        {
            <li>
                Type: @feature.Properties.Type<br />
                @if (feature.Properties.Radius > 0)
                {
                    <span>Koordinater: @($"{feature.Geometry.Coordinates}, {{radius: {feature.Properties.Radius}}}")</span>
                }
                else
                {
                    <span>Koordinater: @feature.Geometry.Coordinates</span>
                }
                <br />
               

                Comment: @feature.Properties.Comment<br />
                Added: @feature.Properties.AddedAt<br />
                Last Edited: @feature.Properties.LastEdited
            </li>
        }
    </ul>
}
else
{
    <p>No shapes found.</p>
}



